{% extends "FOSUserBundle::layout.html.twig" %}
{% block content %}
    {#{{ parent() }}#}

    <div class="span12">

        <div class="widget widget-content">

            {% block fos_user_content %}

                {% include "FOSUserBundle:Profile:show_content.html.twig" %}

            {% endblock fos_user_content %}
        </div> 

    </div>
{% endblock content %}
