{% extends "FOSUserBundle::layout.html.twig" %}
{% block connect_lien %}
    <li class="">						
        <a href="{{ path('user_admin_homepage_login') }}" class="">
            Already have an account? Login now
        </a>
     </li>
{% endblock %}

{% block fos_user_content %}
    
 {% include "FOSUserBundle:Registration:register_content.html.twig" %}

{% endblock fos_user_content %}
